<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- version to compare with user profile config -->
    <add key="version" value="6.20"/>
    <!--Help popup ahown at launch. Dialog designer-->
    <add key="helppopup" value="true"/>
    <!-- temporary folder-->
    <add key="tempfolder" value=""/>
    <!-- R Home directory  Example: C:\Program Files\R\R-3.2.1-->
    <add key="rhome" value="./R-3.6.1"/>
    <!-- User R library Example: D:\\WinDirs\\Documents/R/win-library/3.6-->
    <add key="userRlib" value=""/>
    <!-- temp image, while loading output -->
    <add key="tempimage" value=""/>
    <!-- false for testing output template no data populates-->
    <add key="outputstub" value="true"/>
    <!-- temp sink full path filename-->
    <add key="tempsink" value=""/>
    <!-- syn edt generated image -->
    <add key="sinkimage" value=""/>
    <!-- syn edt registered graphic command list -->
    <add key="sinkregstrdgrph" value="./Config/GraphicCommandList.txt"/>
    <!-- graphic conrtole image -->
    <add key="bskygrphcntrlimage" value=""/>
    <!-- Apps custom logging level:  Debug Info Warn Error Fatal All  -->
    <add key="loglevel" value="All"/>
    <!-- Default file location for File > Open -->
    <add key="InitialDirectory" value=""/>
    <!-- No. of decimals to show in Output C1Flexgrid > precision -->
    <add key="noofdecimals" value="4"/>
    <!-- show as scientific notation (e notation) -->
    <add key="scientific" value="false"/>
    <!-- true shows .0009*** while false show <.001*** -->
    <add key="showActualPValueInOutput" value="false"/>
    <!-- no. of chars to show in left hand tree in output > treenode chars -->
    <add key="nooftreechars" value="25"/>
    <!-- Load SAV with or without Missing Values -->
    <add key="loadSavMissingValue" value="false"/>
    <!-- Background sorting when col was already sorted and then changed from Scale to Nominal (or vice versa) -->
    <add key="openDatasetOption" value="false"/>
    <!-- For testing unknown key thats not used anywhere -->
    <add key="fake" value="Get out"/>
    <!-- For dialog command title color (Command Title Color) -->
    <add key="dctitlecol" value="#FF000000"/>
    <!--NOT IN USE 4Nov2014 For command executed via syntax editor (batch-command/no dialog command) title color-->
    <add key="syntitlecol" value="#FF808080"/>
    <!-- For r command color (R Syntax Color) -->
    <add key="rcommcol" value="#FF808080"/>
    <!-- For error title color -->
    <add key="errorcol" value="#FF800000"/>
    <!-- For mouse hover box color of controls in output -->
    <add key="outputmousehovercol" value="#FFFF8C00"/>
    <!-- For box color of controls in output when clicked from navtree -->
    <add key="navtreeselectedcol" value="#FFFFD900"/>
    <!-- For showing numeric row headers in output C1Flexgrid -->
    <add key="numericrowheaders" value="false"/>
    <!-- image width in output -->
    <add key="imagewidth" value="600"/>
    <!-- image height in output -->
    <add key="imageheight" value="600"/>
    <!-- For days left reminder. -->
    <add key="daysleftreminder" value="3,7,15,30"/>
    <!-- For maximum number of factors in a col. -->
    <add key="maxfactorcount" value="20"/>
    <!-- For advanced logging. -->
    <add key="advancedlogging" value="false"/>
    <!-- For Maximum Flexgrid rows to show in output if result is too large. -->
    <add key="maxflexgridcells" value="20000"/>
    <!-- Not in use: For MSSQL Full or Express version-->
    <add key="mssqlfull" value="true"/>
    <!-- For MSSQL Full or Express, Server Instance Name-->
    <add key="servInstanceName" value="MSSQLSERVER"/>    
    <!-- For MSSQL Server Driver .jar filename with path -->
    <add key="mssqldrvpath" value="C:/Program Files/Microsoft SQL Server JDBC Driver 3.0/sqljdbc_3.0/enu/sqljdbc4.jar"/>

    <!-- For PDF page size-->
    <add key="PDFpageSize" value="A4"/>
    <!-- For PDF page margins (left, top, right, bottom)  . -->
    <add key="PDFPageMargins" value="10,10,10,10"/>
    <!-- For PDF - max col per split table.(row header columns + data columns) -->
    <add key="PDFMaxColCount" value="7"/>
    <!-- For PDF max rows per split table. (col header rows + data rows) -->
    <add key="PDFMaxRowCount" value="18"/>
    <!-- For PDF table text font size. -->
    <add key="PDFTblFontSize" value="9"/>

    <!-- For converting "character" cols to "factor" while loading a CSV dataset. -->
    <add key="CSVcharToFactor" value="false"/>

    <!-- For switching APA style ON/OFF for output tables --> 
    <add key="outTableInAPAStyle" value="true"/>

    <!-- For switching RData warning messagebox ON/OFF. Messagebox is shown when RData file is opened if this flag is ON --> 
    <add key="RDataOpenWarning" value="false"/>

    <!-- For switching syntax visibility ON and OFF in the output window. Default is OFF -->
    <add key="ShowSyntaxInOutput" value="false"/>
        <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- Theme related : Font family />-->
    <add key="FontFamily" value="sans"/>
    <!-- Theme related : Font family />-->
    <add key="FontFace" value="plain"/>
    <!-- Theme related : Font family />-->
    <add key="LabelFontSize" value="12"/>
    <!-- Theme related : Font family />-->
    <add key="LabelFontColor" value="#000000"/>
    <!-- Theme related : Font family />-->
    <add key="HorizAdjust" value="0.5"/>
    <!-- Theme related : Font family />-->
    <add key="VertiAdjust" value="0.5"/>
    <!-- Theme related : Font family />-->
    <add key="PlotTheme" value="theme_grey()"/>

  </appSettings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>-->
  <!--<runtime>
      <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
<!--
This file will have most of the application configuration options.
-->
